a {
    text-decoration: none;
}

.movies_list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
}

.movies_list_container {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.trending_movie_title {
    color: black;
}